data/
*.dss
ref/
*.pyc
*.7z
*.pkc
*.idx
jythonResSim/.idea/
jythonResSim/scripts/.jython_cache/
*.zip
*.xml
Scheduler*
*.bak
*.log.bak
*.dsc
*.docx
*.pdf
jythonResSim/.vscode/
jythonResSim/model/
outputNoShift3/resSimLookup.json
testResSim/untitled/.idea/.gitignore
outputNormalDate/resSimLookup.json
outputNormalDate/1986_results.log
outputNormalDate2/1986_results.log
outputNormalDate2/resSimLookup.json
outputNormalDate3/1986_results.log
outputNormalDate3/resSimLookup.json
outputRegulated/
jythonResSim/scripts/tmp.py
jythonResSim/jythonResSim.iml
outputNormalDate4/1986_results.log
outputNormalDate4/1997_results.log
outputNormalDate4/resSimLookup.json
